---
layout: page
permalink: /lectures/index.html
---

<div class="text-center">
  <div class="flag margin-bottom-medium">
    Lectures
  </div>
</div>

<ol class="resource-list list--blank">
  {% assign resources = site.lectures | sort: 'start_date' | reverse %}
  {% for resource in resources %}
    <li class="resource">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="content-band">
                <h2>Coming soon!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ol>

{% include background_clouds.html %}
